<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NcCore" connectionString="DATA SOURCE=(local);user id=sa;password=1234567890-=q;DATABASE=Namecheap_Core" />
    <add name="NamecheapCoreCms" connectionString="DATA SOURCE=(local);user id=sa;password=1234567890-=q;DATABASE=NameCheap_Core_Cms" />
    <add name="NamecheapTests" connectionString="DATA SOURCE=(local);user id=sa;password=1234567890-=q;DATABASE=NameCheap_Tests" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>